/* Global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#preloader {
  background: #101010 url(images/load.gif) no-repeat center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

body {
    background-image: url("images/bg.jpg");
    background-color: #101010;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* This line sets the background attachment to fixed */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    position: relative;
}
  
h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 37.5px;
}

.fa {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.fa:hover {
  opacity: 0.5;
  color: #0069d9;
  scale: 125%;
}

.fa-instagram {
  color: white;
}

.fa-github {
  color: white;
}

.fa-spotify {
  color: white;
}

.fa-reddit {
  color: white;
}

.fa-discord {
  color: white;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}


/* Header styles */
header {
    background-color: #00000000;
    color: #fff;
}

nav{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: #0005;
  line-height: 50px;
  z-index: 2;
  animation: float-down;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

html {
  scroll-behavior: smooth;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s all;
    display: inline-block;
}

nav ul li a.active{
    color: #0082d9;
    font-weight: bold;
 }

nav ul li a:hover {
    color: #00aeff;
    text-decoration: none;
    font-weight: bold;
    scale: 115%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation-name: float-up;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes float-up {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    25% {
        transform: translatY(37.5px);
        opacity: 0.25;
    }
    50% {
        transform: translatY(25px);
        opacity: 0.5;
    }
    75% {
        transform: translatY(12.5px);
        opacity: 0.75;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes float-down {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    25% {
        transform: translatY(-37.5px);
        opacity: 0.25;
    }
    50% {
        transform: translatY(-25px);
        opacity: 0.5;
    }
    75% {
        transform: translatY(-12.5px);
        opacity: 0.75;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }


/* Main styles */
main {
    padding: 6rem;
    background-color: rgba(0, 0, 0, 0.456);
    margin: 6rem;
    margin-bottom: 0;
}

@media only screen and (max-width:720px) {
  main {
    padding: 0rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.456);
    margin-bottom: 0;
  }
  .profile-pic {
    display: none;
  }
  
  .profile-pic img {
    display: none;
  }

  section {
    height: 10vh;
  }

  section h2 {
      font-size: 1rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
  }

  section h3 {
      font-size: 1rem;
      padding-top: 3rem;
      margin-bottom: 1.5rem;
  }

  section h4 {
    font-size: 1rem;
    padding-top: 3rem;
    margin-bottom: 0rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
  }

  #projects {
    height: 150vh;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  #home {
    font-size: 0.5rem;
  }

  .social {
    padding-top: 1rem;
  }
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  float: left;
  border: 2px solid #000000;
}

.profile-pic img {
  display: block;
  width: 100%;
  height: auto;

}

code {
  font-size: 1rem;
  word-spacing: 0.3px;
  text-transform: uppercase;
}

section {
    height: 100vh;
}

section h2 {
    font-size: 2.5rem;
    padding-top: 6rem;
    margin-bottom: 12rem;
}

section h3 {
    font-size: 2.5rem;
    padding-top: 6rem;
    margin-bottom: 5rem;
}


section h4 {
  font-size: 2.5rem;
  padding-top: 6rem;
  margin-bottom: 0em;
}


.prodj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.pro {
    list-style: none;
    padding: rem;
    
}

.pro h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pro p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.pro p a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 0.5;
}

.pro p a:hover {
  color:#00aeff;
  transition:  all 0.5 ease-in-out;
}

.pro h3 button {
    text-decoration: none;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.pro h3 button a {
    text-decoration: none;
    color: #fff;
    padding: 10px;

}

.pro h3 button a:hover {
    color: #000000;
    transition: all 0.2s ease-in-out;
}

h3 button:hover {    
    background-color: #0069d9;
  }
  
  .skill-bars-fat {
    list-style: none;
    margin-top: 50px;
    position: relative;
    z-index: 1;
  }
  
  .skill-bars-fat li {
    display: flex;
    align-items: center;
    height: 1.5rem;
    background: transparent;
    margin-bottom: 2rem;
    padding: 0;
    position: relative;
    border-radius: none !important;
  }
  
  .skill-bars-fat li strong {
    flex: 1;
    font-family: var(--font-1);
    font-weight: 600;
    color: #abb2bf;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: calc(var(--text-size) * 0.7778);
    line-height: 2rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .skill-bars-fat li .progress {
    flex: 3;
    background: #11111169;
    position: relative;
    border-radius: none !important;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
  }
    
  .skill-bars-fat li .progress::before {
    content: "";
    display: block;
    height: 100%;
    border-radius: none !important;
    background-color: #0069d9;
  }  
  
  .skill-bars-fat li .percent5::before {
    width: 5%;
  }
  
  .skill-bars-fat li .percent10::before {
    width: 10%;
  }
  
  .skill-bars-fat li .percent15::before {
    width: 15%;
  }
  
  .skill-bars-fat li .percent20::before {
    width: 20%;
  }
  
  .skill-bars-fat li .percent25::before {
    width: 25%;
  }
  
  .skill-bars-fat li .percent30::before {
    width: 30%;
  }
  
  .skill-bars-fat li .percent35::before {
    width: 35%;
  }
  
  .skill-bars-fat li .percent40::before {
    width: 40%;
  }
  
  .skill-bars-fat li .percent45::before {
    width: 45%;
  }
  
  .skill-bars-fat li .percent50::before {
    width: 50%;
  }
  
  .skill-bars-fat li .percent55::before {
    width: 55%;
  }
  
  .skill-bars-fat li .percent60::before {
    width: 60%;
  }
  
  .skill-bars-fat li .percent65::before {
    width: 65%;
  }
  
  .skill-bars-fat li .percent70::before {
    width: 70%;
  }
  
  .skill-bars-fat li .percent75::before {
    width: 75%;
  }
  
  .skill-bars-fat li .percent80::before {
    width: 80%;
  }
  
  .skill-bars-fat li .percent85::before {
    width: 85%;
  }
  
  .skill-bars-fat li .percent90::before {
    width: 90%;
  }
  
  .skill-bars-fat li .percent95::before {
    width: 95%;
  }
  
  .skill-bars-fat li .percent100::before {
    width: 100%;
  }
  
  
  /* Footer styles */
footer {
  background-color: #0005;
  text-align: center;
  font-size: 0.5rem;
  bottom: 0;
  width: 100vw;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
  }